/* styles/background.module.css */
.background {
    background-image: url('/images/albina.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  